header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
}
form, section {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}
form h1 {
    font-size: xx-large;
}
form button, #start {
color: white;
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    width: 250px;
    font-size: larger;
    border-radius: 15%;
}